@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Roboto&display=swap");

/* GLOBAL STYLES */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* VARIABLES */

:root {
  --main-font-size: 16px;

  --main-color: #493530;
  --main-font-color: #444545;
  --header-font-color: white;

  --main-font-style: "Roboto";
  --logo-font-style: "Amatic SC";
}

/* TYPOGRAPHY */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 5px;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  letter-spacing: 3px;
}

h3 {
  font-size: 2.5rem;
}

li {
  list-style: none;
}

.header a {
  color: var(--header-font-color);
}

.footer a {
  color: var(--header-font-color);
  text-decoration: none;
}

/* LAYOUTS */

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--main-font-color);
}

h2 {
  padding: 2rem 2.5rem;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  padding: 2rem 2.5rem;
  text-align: center;
}

p {
  padding: 1rem 2.5rem;
  padding-bottom: 2rem;
  text-align: justify;
}

img {
  width: 100vw;
  /* margin-top: 1rem; */
}

/* Header */

.header {
  width: 100%;
  height: 100vh;
  min-height: 812px;
  background: linear-gradient(
      0deg,
      rgba(31, 19, 1, 0.5) 0%,
      rgba(31, 19, 1, 0.5)
    ),
    url(./images/Offer.jpg) no-repeat;
  background-size: cover;
  color: var(--header-font-color);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.21);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.navbar::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/Offer.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.ham-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.center-line {
  width: 2rem;
  height: 3px;
  border-radius: 5px;
  background-color: var(--header-font-color);
  transition: all 0.2s ease-in-out;
}

.center-line::after,
.center-line::before {
  content: "";
  width: 2rem;
  height: 3px;
  border-radius: 5px;
  background-color: var(--header-font-color);
  position: absolute;
}
.center-line::before {
  transform: translateY(-0.65rem);
}
.center-line::after {
  transform: translateY(0.65rem);
}

.nav-menu {
  width: 60%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 99;
  color: var(--main-font-color);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  left: -60%;
  transition: 250ms ease-in-out;
}

.open {
  transition: 250ms ease-in-out;
  left: 0;
}

.close {
  padding: 3rem 0;
}

.social-networks {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: rgba(226, 226, 226, 1);
}

.social-icons:hover {
  background-color: rgba(200, 200, 200, 0.8);
}
header .social-networks a i {
  color: black;
  opacity: 0.7;
}

.nav-menu div i {
  font-size: 1.5rem;
  z-index: 100;
  opacity: 0.7;
}

.nav-menu .nav-logo {
  color: var(--main-font-color);
  opacity: 0.7;
  font-weight: 800;
  padding: 0 13vw;
}
.nav-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu li {
  padding: 0.6rem 0;
  width: 100%;
  border-top: 1px solid rgba(70, 69, 69, 0.2);
}

.li-contact {
  border-bottom: 1px solid rgba(70, 69, 69, 0.2);
}

.nav-menu ul li a {
  color: var(--main-font-color);
}

.nav-logo {
  font-family: var(--logo-font-style), sans-serif;
  font-size: 2.3em;
  font-weight: 550;
  color: var(--header-font-color);
  margin: 0;
  padding: 0;
}

.nav-list {
  display: none;
}

.nav-list-mobile ul {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  margin-right: 15px;
}

.nav-list-mobile i {
  font-size: 1.4em;
}

.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: calc(4rem + 15vh); */
  padding: 0 6rem;
}

.banner-text {
  color: var(--header-font-color);
  padding: 4rem 0;
}

.search-type {
  display: none;
}

.search-box {
  width: 17rem;
  height: 2.6rem;
  display: flex;
  background-color: var(--header-font-color);
  align-items: center;
  margin: 0.6rem 0;
  border-radius: 15px;
}

.banner input {
  background-color: var(--header-font-color);
  border: none;
  height: 2rem;
  width: 11.5rem;
  font-size: 1rem;
}

.banner input:focus {
  outline: none;
}

.search-box i {
  color: var(--main-font-color);
  opacity: 0.5;
  margin: 0 15px;
  font-size: 1.1rem;
}

.close-icon-search,
.close-icon-location {
  display: none;
  font-size: 1.1rem;
}

.show {
  display: block;
}

.search-button {
  width: 17rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin: 0.6rem 0;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  cursor: pointer;
}

/* Find Snappers/Users */

.find-content img,
.offer-content img {
  width: 90%;
  margin: 1rem 0;
  margin-bottom: 2rem;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.5);
}

.find-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.photo-exp {
  background-color: #f3f3f3;
  padding-bottom: 3rem;
}

/* Footer */

.footer {
  font-weight: 100;
  line-height: 1.5;
  background-color: var(--main-color);
  padding: 4rem 2.5rem 0rem 3rem;
  height: 65vh;
}

.footer-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.register-company {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--header-font-color);
}

.footer-col img {
  margin: 0 0.3rem;
  width: 1.2rem;
  height: 0.8rem;
}

.dropdown-menu img {
  margin: 0 0.3rem;
  width: 1.2rem;
  height: 0.8rem;
}

.lang-button {
  margin-top: 1.5rem;
  width: 10rem;
  height: 2rem;
  background-color: var(--header-font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2px;
}

.lang-list {
  width: 10rem;
  height: 2rem;
  background-color: var(--header-font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid var(--main-font-color);
}

.dropdown-menu {
  position: relative;
}

.dropdown-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.openLangu {
  z-index: 0;
}

.dropdown-item {
  color: var(--main-font-color);
}

.language {
  width: 70%;
  padding: 0.3rem 0;
}

.dropdown-language-icon {
  color: black;
  font-size: 1rem;
}

/* ANIMATIONS */

/* MEDIA QUERIES */

/* HOVER EFFECTS */

.search-button:hover {
  background-color: rgba(110, 108, 108, 0.3);
}

.nav-menu ul li:hover {
  background-color: rgba(220, 220, 220, 0.4);
}

/* .ham-menu:hover .center-line {
  background-color: #292929;
  box-shadow: none;
  transform: translateX(-50px);
}
.ham-menu:hover .center-line::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.ham-menu:hover .center-line::after {
  transform: rotate(-45deg) translate(35px, 35px);
} */
